<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
       
       <!-- only setter method used  in employee class -->
       <bean id="obj" class="com.setter.Employee">
       <property name="id">
       <value>20</value>
       </property>
       <property name="Employeename">
       <value>mahesh</value>
       </property>
       <property name="city">
       <value>pune</value>
       </property>
       </bean>
       
       <!--only constructor used in Doctor class  -->
       <bean id="a" class="com.constructor.DoctorEmpl">
       <constructor-arg value="10" type="int"></constructor-arg>
       <constructor-arg value="mahesh" type="String"></constructor-arg>
       </bean>
       
       <!-- QuestionAns class use list type of collection using constructor -->
       <bean id="list" class="com.constructorlist.QuestionAns">
       <constructor-arg value="1" type="int"></constructor-arg>
       <constructor-arg value ="how are you" type="String"></constructor-arg>
       <constructor-arg>
       <list>
       <value>i am fine</value>
       <value>not good</value>
       </list>
       </constructor-arg>
       </bean>
       
       
       <!--Employeelist class using setter method using list type  -->
       
       <bean id="emp" class="com.setterlist.Employeelist" >
       <property name="empid">
       <value>2</value>
       </property>
       <property name="empname">
       <value>employee name </value>
       </property>
       <property name="emplist">
       <list>
       <value>mahesh</value>
       <value>nikhil</value>
       <value>darshan</value>
       <value>abhay</value> 
       </list>
       </property>
       </bean>
       
       <!--Employee map class using setter method using map  -->
       <bean id="map" class="com.settermap.Employeemap">
       <property name="id" value="1"></property>
       <property name="Empquestion" value="what is your salary"></property>
       <property name="Empanswers">
       <map>
      <entry key="12000" value="mahesh tamkhade"></entry>
      <entry key="20000" value="nikhil kenjale"></entry>
       </map>
       </property>
       </bean>
       
       <!--using constructor and map -->
      <bean id="cmap" class="com.constructormap.Constructormap">
      <constructor-arg value="3" type="int"></constructor-arg>
      <constructor-arg value="mahesh" type="String"></constructor-arg>
      <constructor-arg>
      <map>
      <entry key="15000" value="hiii first"> </entry>
      <entry key="16000" value="hii second"> </entry>
      </map>
      </constructor-arg>
      </bean>

        
      </beans>