<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
       
       <!-- only setter method used  in employee class -->
       <bean id="obj" class="com.setter.Employee">
       <property name="id">
       <value>20</value>
       </property>
       <property name="Employeename">
       <value>mahesh</value>
       </property>
       <property name="city">
       <value>pune</value>
       </property>
       </bean>
       
       <!--only constructor used in Doctor class  -->
       <bean id="a" class="com.constructor.DoctorEmpl">
       <constructor-arg value="10" type="int"></constructor-arg>
       <constructor-arg value="mahesh" type="String"></constructor-arg>
       </bean>
</beans>